* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.8rem;
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%))
    no-repeat center center fixed;
  background-size: cover;
  display: grid;
  place-items: center center;
  height: 100vh;
  width: 100vw;
}
.attribution {
  font-size: 0.75em;
  text-align: center;
  color: white;
  padding: 20px 0;
}
.attribution a:active {
  color: yellow;
}
.attribution a {
  color: yellow;
}
.card {
  display: flex;
  margin: 150px 25px 85px 25px;
  flex-direction: column;
  min-width: 327px;
  min-height: 118px;
  background-color: white;
  border-radius: 21px;
  box-shadow: 0 5px 25px 0 hsla(0, 0%, 17%, 0.4);
}
.card-image {
  position: relative;
  height: 100px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-woman {
  background: url("./images/illustration-woman-online-mobile.svg") no-repeat;
  width: 266px;
  height: 196px;
  z-index: 2;
  margin: auto;
  position: absolute;
  top: -120px;
  left: 0;
  right: 13px;
  bottom: 0;
}
.img-pattern {
  background: url("./images/bg-pattern-mobile.svg") no-repeat;
  width: 240px;
  height: 104px;
  margin: auto;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 13px;
  right: 0;
  bottom: 0;
}
.card-body {
  padding: 36px 23px;
}
.card-body h1 {
  margin: 0;
  font-size: 3em;
  text-align: center;
  color: hsl(238, 29%, 16%);
}
.faq-question {
  font-size: 1em;
  font-weight: normal;
  color: hsl(237, 12%, 33%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  cursor: pointer;
}
.faq-question:hover {
  color: hsl(14, 88%, 65%);
}
.caret-icon {
  background: url("./images/icon-arrow-down.svg") no-repeat center 0.4em;
  flex-basis: 1em;
}
.faq-input {
  display: none;
}
.card-body hr {
  height: 1px;
  background-color: hsl(0, 0%, 83%);
  border: none;
  margin: 1em 0;
}
.faq-answer {
  color: hsl(240, 6%, 50%);
  max-height: 0;
  overflow: hidden;
  font-size: 1em;
  margin: 0;
}
.faq-input:checked ~ .faq-question > .caret-icon {
  transform: rotate(180deg);
  background-position: center 0.6em;
  transition: ease-in-out 0.3s;
}
.faq-input:checked ~ .faq-answer {
  display: block;
  max-height: 100vh;
  transition: ease-in-out 0.8s;
}
.faq-input:checked ~ .faq-question {
  font-weight: bold;
  transition: ease-in-out 0.3s;
}

@media screen and (min-width: 1030px) {
  body {
    overflow: hidden;
  }
  .card {
    max-width: 920px;
    flex-direction: row;
    justify-content: space-between;
    margin: 45px;
  }
  .card-image {
    min-height: 510px;
  }
  .card-body {
    padding: 70px 90px;
    flex-basis: 532px;
    flex-shrink: 0;
  }
  .img-woman {
    background: url("./images/illustration-woman-online-desktop.svg") no-repeat;
    height: 472px;
    width: 472px;
    top: 100px;
    left: -84px;
    right: 0;
    bottom: 0;
    clip-path: inset(0 0 0 84px);
  }
  .img-pattern {
    background: url("./images/bg-pattern-desktop.svg") no-repeat;
    height: 966px;
    width: 970px;
    top: -135px;
    left: -578px;
    right: 0;
    bottom: 0;
    clip-path: inset(294px 0 160px 578px);
  }
  .img-box {
    background: url("./images/illustration-box-desktop.svg") no-repeat;
    height: 191px;
    width: 184px;
    position: relative;
    z-index: 3;
    top: 200px;
    left: -95px;
    right: 0;
    bottom: 0;
  }
  .attribution {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    padding: 0;
  }
}